{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="alert alert-info"><i class="fa-solid fa-circle-exclamation"></i> {{ text_description }}</div>
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-payment" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <ul class="nav nav-tabs" id="tabs">
              <li class="nav-item active"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
              <li class="nav-item"><a href="#tab-paymentmethods" data-bs-toggle="tab" class="nav-link">{{ tab_paymentmethods }}</a></li>            
              <li class="nav-item"><a href="#tab-settings" data-bs-toggle="tab" class="nav-link">{{ tab_settings }}</a></li>              
          </ul>
          <div class="tab-content">
            <div id="tab-general" class="tab-pane active">              
              
              <div class="row mb-3">
                <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="payment_paynl_status" value="0"/>
                    <input type="checkbox" name="payment_paynl_status" value="1" id="input-status" class="form-check-input"{% if payment_paynl_status %} checked{% endif %}/>
                  </div>
                </div>
              </div>   

              {% if false %}
                <div class="row mb-3">
                  <label for="input-status" class="col-sm-2 col-form-label">{{ text_version }}</label>
                  <div class="col-sm-10">
                    <div class="version">
                      <input id="pay_checkversion_url" type="hidden" class="form-control" name="pay_checkversion_url" value="{{ pay_checkversion_url }}"/>
                        <input id="pay_current_version" type="hidden" class="form-control" name="pay_current_version" value="{{ pay_current_version }}"/>
                        <span id="paynl_version_check_current_version">{{ pay_current_version }}</span>
                        <a id="check_version_submit" class="btn btn-primary" target="_BLANK">Check Version</a>
                        <span id="paynl_version_check">                 
                            <span id="paynl_version_check_loading" class="payHide">Loading...</span>         
                            <span id="paynl_version_check_result" class="payHide"></span>
                        </span>
                    </div>
                  </div>
                </div>  
              {% endif %}

              {% if apitoken is empty %}
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">               
                    </label>
                    <div class="col-sm-10">                  
                      {{ text_register }} <a href="https://signup.pay.nl/" target="_BLANK">{{ text_here }}</a>!
                    </div>
                  </div> 
              {% endif %}

              <div class="row mb-3">
                <label for="payment_paynl_tokencode" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_tokencode }}"></span>
                    {{ text_tokencode }}
                  </span>
                </label>
                <div class="col-sm-10">                  
                  <input type="text" class="form-control" name="payment_paynl_tokencode" value="{{ tokencode }}"/>             
                </div>
              </div> 

              <div class="row mb-3">
                <label for="payment_paynl_apitoken" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_apitoken }}"></span>
                    {{ text_apitoken }}
                  </span>
                </label>
                <div class="col-sm-10">                  
                  <input type="password" class="form-control" name="payment_paynl_apitoken" value="{{ apitoken }}"/>             
                </div>
              </div>   

              <div class="row mb-3">
                <label for="payment_paynl_serviceid" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_serviceid }}"></span>
                    {{ text_serviceid }}
                  </span>
                </label>
                <div class="col-sm-10">                  
                  <input type="text" class="form-control" name="payment_paynl_serviceid" value="{{ serviceid }}"/>            
                </div>
              </div>    

              <div class="row mb-3">
                <label for="payment_paynl_failover_gateway" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="Select the core to be used for processing payments"></span>
                    Multicore
                  </span>
                </label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select name="payment_paynl_failover_gateway" id="payment_paynl_failover_gateway" class="form-select">
                            {% for tgu in pay_tgu_list %}
                                <option value="{{ tgu['domain'] }}" {% if tgu['domain'] == pay_failover_gateway %} selected {% endif %} {% if tgu['status'] == "INACTIVE" %} disabled {% endif %}>{{ tgu['domain']|capitalize }}</option>
                            {% endfor %}
                            <option value="custom" {% if "custom" == pay_failover_gateway %} selected {% endif %}>Custom</option>
                        </select>
                    </div>
                </div>
              </div>  

              <div class="row mb-3" id="custom_core" {% if "custom" != pay_failover_gateway %} style="display:none;" {% endif %}>
                <label for="payment_paynl_custom_gateway" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="Leave this empty unless Pay. advised otherwise"></span>
                    Custom multicore
                  </span>
                </label>
                <div class="col-sm-10">                  
                  <input type="text" class="form-control" name="payment_paynl_custom_gateway" value="{{ pay_custom_gateway }}"/>            
                </div>
              </div> 

              <div class="row mb-3">
                <label for="payment_paynl_testmode" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_testmode }}"></span>
                    {{ text_testmode }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="payment_paynl_testmode" value="0"/>
                    <input type="checkbox" name="payment_paynl_testmode" value="1" id="input-status" class="form-check-input"{% if testmode %} checked{% endif %}/>
                  </div>
                </div>
              </div>  

              <div class="row mb-3">
                <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_paynl_sort_order" value="{{ payment_paynl_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
                </div>
              </div>

            </div>    

            {# Paymentmethods #}
            <div id="tab-paymentmethods" class="tab-pane">     
            <ul id="sortable_paymentmethods" class="list-group ui-sortable" style="list-style: none;"> 
              {% for id, paymentmethod in pay_paymentmethods %}  
                  <li id="payPaymentmethod_{{ id }}" class="payPaymentMethod clickable">
                    
                    <input type="hidden" value="{{ id }}" name="payment_paynl_paymentmethod_{{ id }}_id" />
                    <input type="hidden" value="{{ paymentmethod.sort|e }}" name="payment_paynl_paymentmethod_{{ id }}_sort" class="paymentMethodSort"/>
    
                    <span class="row mb-3 payPaymentMethodSummery clickable">
                      <span class="col-sm-1">
                        <i class="sortHandle fa-solid fa-reorder" style="transform: scale(1.5); padding: 12px 15px;"></i>
                      </span>
                      <span class="col-sm-1">
                        <span class="form-check form-switch form-switch-lg">
                          <input type="hidden" name="payment_paynl_paymentmethod_{{ id }}_active" value="0"/>
                          <input type="checkbox" name="payment_paynl_paymentmethod_{{ id }}_active" value="1" id="input-status" class="form-check-input"{% if paymentmethod.active|e %} checked{% endif %}/>
                        </span>
                      </span>
                      <span class="col-sm-1 clickable payImage">
                        <img src="{{ paymentmethod.image|e }}" class="payPaymentMethodImage clickable"/>
                      </span>
                      <span class="col-sm-9 clickable openPaymentDetails">
                          <h4 class="list-group-item-heading payPaymentTitle clickable">{{ paymentmethod.name|e }}</h4>
                          <p class="list-group-item-text payPaymentSubTitle clickable">{{ paymentmethod.descriptionShort|e }}</p>
                      </span>
                    </span> 

                    <span class="payPaymentMethodDetails">
                      <div class="row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_name" class="col-sm-2 col-form-label">                
                          <span class="labelText">
                            <span class="payTooltip" data-tooltip="{{ tooltip_pm_name }}"></span>
                            {{ text_pm_name }}
                          </span>
                        </label>
                        <div class="col-sm-10">                  
                          <input type="text" class="form-control" name="payment_paynl_paymentmethod_{{ id }}_name" value="{{ paymentmethod.name|e }}"/>            
                          {% if languages|length > 1 %}
                            <br/>
                            <div class="translations">
                                <div class="show_translations">{{ text_pm_translations }} &nbsp; <i class="fa-solid fa-chevron-down"></i></div>       
                                    <div class="language-options hidden">    
                                        <br>
                                        {% for language in languages %}                                                      
                                          <label class="control-label col-lg-2 align-left" style="padding:0;">{{ language.name|e }}</label>
                                          <div class="col-lg-10">
                                            <input type="text" class="form-control" name="payment_paynl_paymentmethod_{{ id }}_name_{{ language.code|e }}" value="{{ paymentmethod.name_translations[language.code]|e }}"/>                       
                                          </div>   
                                        {% endfor %}                                                                    
                                        <div style="clear:both"></div>                                
                                    <br>
                                </div>
                            </div>
                          {% endif %}
                        </div>
                      </div>   
                      <div class="row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_description" class="col-sm-2 col-form-label">{{ text_pm_desc }}</label>
                        <div class="col-sm-10">                  
                          <input type="text" class="form-control" name="payment_paynl_paymentmethod_{{ id }}_description" value="{{ paymentmethod.description|e }}"/>
                          {% if languages|length > 1 %}
                            <br/>
                            <div class="translations">
                                <div class="show_translations">{{ text_pm_translations }} &nbsp; <i class="fa-solid fa-chevron-down"></i></div>                            
                                    <div class="language-options hidden">   
                                        <br> 
                                        {% for language in languages %}                                                      
                                          <label class="control-label col-lg-2 align-left" style="padding:0;">{{ language.name|e }}</label>
                                          <div class="col-lg-10">
                                            <input type="text" class="form-control" name="payment_paynl_paymentmethod_{{ id }}_description_{{ language.code|e }}" value="{{ paymentmethod.description_translations[language.code]|e }}"/>                       
                                          </div>   
                                        {% endfor %}                                                                    
                                        <div style="clear:both"></div>                                
                                    <br>
                                </div>
                            </div>
                          {% endif %}
                        </div>
                      </div> 
                      <div class="row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_minamount" class="col-sm-2 col-form-label">                
                          <span class="labelText">
                            <span class="payTooltip" data-tooltip="{{ tooltip_pm_min }}"></span>
                            {{ text_pm_min }}
                          </span>
                        </label>
                        <div class="col-sm-10">                  
                          <input type="text" class="form-control" name="payment_paynl_paymentmethod_{{ id }}_minamount" value="{{ paymentmethod.minamount|e }}"/>            
                        </div>
                      </div> 
                      <div class="row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_maxamount" class="col-sm-2 col-form-label">                
                          <span class="labelText">
                            <span class="payTooltip" data-tooltip="{{ tooltip_pm_max }}"></span>
                            {{ text_pm_max }}
                          </span>
                        </label>
                        <div class="col-sm-10">                  
                          <input type="text" class="form-control" name="payment_paynl_paymentmethod_{{ id }}_maxamount" value="{{ paymentmethod.maxamount|e }}"/>            
                        </div>
                      </div>   
                      <div class="form-group group-id row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_countries" class="col-sm-2 col-form-label">                
                          <span class="labelText">
                            <span class="payTooltip" data-tooltip="{{ tooltip_pm_countries }}"></span>
                            {{ text_pm_countries }}
                          </span>
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="payment_paynl_paymentmethod_{{ id }}_countries[]" id="payment_paynl_paymentmethod_{{ id }}_countries" class="form-select" multiple>
                                    {% for country in countries %}
                                        <option value="{{ country['country_id'] }}" {% if country['country_id'] in paymentmethod.countries|e %} selected {% endif %}>{{ country['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>       
                      <div class="form-group group-id row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_allowed_shipping" class="col-sm-2 col-form-label">                
                          <span class="labelText">
                            <span class="payTooltip" data-tooltip="{{ tooltip_pm_allowed_shipping }}"></span>
                            {{ text_pm_allowed_shipping }}
                          </span>
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="payment_paynl_paymentmethod_{{ id }}_allowed_shipping[]" id="payment_paynl_paymentmethod_{{ id }}_allowed_shipping" class="form-select" multiple>
                                    {% for shipping in shipping_methods %}
                                        <option value="{{ shipping['code'] }}" {% if shipping['code'] in paymentmethod.allowed_shipping|e %} selected {% endif %}>({{ shipping['code'] }}) {{ shipping['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>          
                      <div class="form-group group-id row mb-3">
                        <label class="col-sm-2 col-form-label" for="payment_paynl_paymentmethod_{{ id }}_geozone">{{ text_pm_geozone }}</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="payment_paynl_paymentmethod_{{ id }}_geozone" id="payment_paynl_paymentmethod_{{ id }}_geozone" class="form-select">
                                    <option value="0">{{ text_all_zones }}</option>
                                    {% for geo_zone in geo_zones %}
                                        <option value="{{ geo_zone['geo_zone_id'] }}"{% if geo_zone['geo_zone_id'] == paymentmethod.geozone|e %} selected {% endif %}>{{ geo_zone['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>
                      <div class="form-group group-id row mb-3">
                        <label class="col-sm-2 col-form-label" for="payment_paynl_paymentmethod_{{ id }}_customer_type">{{ text_pm_customer_type }}</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="payment_paynl_paymentmethod_{{ id }}_customer_type" id="payment_paynl_paymentmethod_{{ id }}_customer_type" class="form-select">
                                    <option value="0">{{ text_pm_customer_type_both }}</option>
                                    <option value="1">{{ text_pm_customer_type_private }}</option>
                                    <option value="2">{{ text_pm_customer_type_business }}</option>                                  
                                </select>
                            </div>
                        </div>
                      </div>   

                      {% if paymentmethod.showIssuersField|e %} 
                        <div class="form-group group-id row mb-3">
                          <label class="col-sm-2 col-form-label" for="payment_paynl_paymentmethod_{{ id }}_show_issuers">{{ text_pm_show_issuers }}</label>
                          <div class="col-sm-10">
                              <div class="input-group">
                                  <select name="payment_paynl_paymentmethod_{{ id }}_show_issuers" id="payment_paynl_paymentmethod_{{ id }}_show_issuers" class="form-select">
                                      <option value="0">{{ text_no }}</option>                                      
                                      <option value="1" {% if paymentmethod.showIssuers|e == '1' %} selected {% endif %}>{{ text_optional }}</option>
                                      <option value="2" {% if paymentmethod.showIssuers|e == '2' %} selected {% endif %}>{{ text_required }}</option>
                                  </select>
                              </div>
                          </div>
                        </div>    
                      {% endif %}  
 

                      {% if paymentmethod.showBusinessFields|e %} 
                        <div class="form-group group-id row mb-3">
                          <label for="payment_paynl_paymentmethod_{{ id }}_show_dob" class="col-sm-2 col-form-label">                
                            <span class="labelText">
                              <span class="payTooltip" data-tooltip="{{ tooltip_pm_show_dob }}"></span>
                              {{ text_pm_show_dob }}
                            </span>
                          </label>
                          <div class="col-sm-10">
                              <div class="input-group">
                                  <select name="payment_paynl_paymentmethod_{{ id }}_show_dob" id="payment_paynl_paymentmethod_{{ id }}_show_dob" class="form-select">
                                      <option value="0">{{ text_no }}</option>                                      
                                      <option value="1" {% if paymentmethod.showBOD|e == '1' %} selected {% endif %}>{{ text_optional }}</option>
                                      <option value="2" {% if paymentmethod.showBOD|e == '2' %} selected {% endif %}>{{ text_required }}</option>
                                  </select>
                              </div>
                          </div>
                        </div> 

                        <div class="form-group group-id row mb-3">
                          <label for="payment_paynl_paymentmethod_{{ id }}_show_coc" class="col-sm-2 col-form-label">                
                            <span class="labelText">
                              <span class="payTooltip" data-tooltip="{{ tooltip_pm_show_coc }}"></span>
                              {{ text_pm_show_coc }}
                            </span>
                          </label>
                          <div class="col-sm-10">
                              <div class="input-group">
                                  <select name="payment_paynl_paymentmethod_{{ id }}_show_coc" id="payment_paynl_paymentmethod_{{ id }}_show_coc" class="form-select">
                                      <option value="0">{{ text_no }}</option>                                      
                                      <option value="1" {% if paymentmethod.showCOC|e == '1' %} selected {% endif %}>{{ text_optional }}</option>
                                      <option value="2" {% if paymentmethod.showCOC|e == '2' %} selected {% endif %}>{{ text_required }}</option>
                                  </select>
                              </div>
                          </div>
                        </div> 

                        <div class="form-group group-id row mb-3">
                          <label for="payment_paynl_paymentmethod_{{ id }}_show_vat" class="col-sm-2 col-form-label">                
                            <span class="labelText">
                              <span class="payTooltip" data-tooltip="{{ tooltip_pm_show_vat }}"></span>
                              {{ text_pm_show_vat }}
                            </span>
                          </label>
                          <div class="col-sm-10">
                              <div class="input-group">
                                  <select name="payment_paynl_paymentmethod_{{ id }}_show_vat" id="payment_paynl_paymentmethod_{{ id }}_show_vat" class="form-select">
                                      <option value="0">{{ text_no }}</option>                                      
                                      <option value="1" {% if paymentmethod.showVAT|e == '1' %} selected {% endif %}>{{ text_optional }}</option>
                                      <option value="2" {% if paymentmethod.showVAT|e == '2' %} selected {% endif %}>{{ text_required }}</option>
                                  </select>
                              </div>
                          </div>
                        </div>   
                      {% endif %} 

                    </span>                  
                  </li>                
              {% else %}
                  <li><em>{{ error_payment_methods }}</em></li>
              {% endfor %}

            </div>            

            {# Settings #}
            <div id="tab-settings" class="tab-pane">   

              <div class="row mb-3">
                <label for="payment_paynl_screen_language" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_screen_language }}"></span>
                    {{ text_screen_language }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div class="input-group">
                      <select name="payment_paynl_screen_language" id="payment_paynl_screen_language" class="form-select">
                        <option value="auto">Automatic</option>  
                        <option value="nl" {% if pay_screen_language == 'nl'  %} selected {% endif %}>{{ text_nl }}</option>
                        <option value="en" {% if pay_screen_language == 'en'  %} selected {% endif %}>{{ text_en }}</option>
                        <option value="de" {% if pay_screen_language == 'de'  %} selected {% endif %}>{{ text_de }}</option>
                        <option value="fr" {% if pay_screen_language == 'fr'  %} selected {% endif %}>{{ text_fr }}</option>                          
                      </select>
                  </div>                 
                </div>
              </div>   

              <div class="row mb-3">
                <label for="payment_paynl_order_description" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_orderdesc }}"></span>
                    {{ text_orderdesc }}
                  </span>
                </label>
                <div class="col-sm-10">                  
                  <input type="text" class="form-control" name="payment_paynl_order_description" value="{{ pay_order_description }}"/>             
                </div>
              </div>        

              <div class="row mb-3">
                <label for="payment_paynl_follow_payment" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_follow_payment }}"></span>
                    {{ text_follow_payment }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="payment_paynl_follow_payment" value="0"/>
                    <input type="checkbox" name="payment_paynl_follow_payment" value="1" id="input-status" class="form-check-input"{% if pay_follow_payment == '1' %} checked{% endif %}/>
                  </div>                  
                </div>
              </div>        

              <div class="row mb-3">
                <label for="payment_paynl_auto_capture" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_auto_capture }}"></span>
                    {{ text_auto_capture }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="payment_paynl_auto_capture" value="0"/>
                    <input type="checkbox" name="payment_paynl_auto_capture" value="1" id="input-status" class="form-check-input"{% if pay_auto_capture %} checked{% endif %}/>
                  </div>
                </div>
              </div>  

              <div class="row mb-3">
                <label for="payment_paynl_auto_void" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_auto_void }}"></span>
                    {{ text_auto_void }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="payment_paynl_auto_void" value="0"/>
                    <input type="checkbox" name="payment_paynl_auto_void" value="1" id="input-status" class="form-check-input"{% if pay_auto_void %} checked{% endif %}/>
                  </div>
                </div>
              </div>             

              <br/><br/>

              <div class="form-group">
                <div class="panel-heading">
                    <h3 class="panel-title">Advanced settings</h3>
                </div>
              </div>  

              <br/>  

              <div class="row mb-3">
                <label for="payment_paynl_test_ip_address" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_testip }}"></span>
                    {{ text_testip }}
                  </span>
                </label>
                <div class="col-sm-10">                  
                  <input type="text" class="form-control" name="payment_paynl_test_ip_address" value="{{ pay_test_ip_address }}"/>      
                  <br/>
                  {{ text_testip_desc }} {{current_ip}}       
                </div>
              </div>     

              <div class="row mb-3">
                <label for="payment_paynl_custom_exchange_url" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_custom_exchange_url }}"></span>
                    {{ text_custom_exchange_url }}
                  </span>
                </label>
                <div class="col-sm-10">                  
                  <input type="text" class="form-control" name="payment_paynl_custom_exchange_url" value="{{ pay_custom_exchange_url }}"/>     
                </div>
              </div>    

              <div class="row mb-3">
                <label for="payment_paynl_logging" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_logging }}"></span>
                    {{ text_logging }}
                  </span>
                </label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select name="payment_paynl_logging" id="payment_paynl_logging" class="form-select">
                            {% for id, option in pay_logging_options %}
                                <option value="{{ id }}" {% if pay_logging == id %} selected {% endif %}>{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
              </div>  

              <div class="row mb-3">
                <label for="input-status" class="col-sm-2 col-form-label">{{ text_logging_download }}</label>
                <div class="col-sm-10">
                  <div class="version">                                
                      <a id="download_logs" class="btn btn-primary" href="{{ pay_logging_download }}" target="_BLANK">Download</a>
                  </div>
                </div> 
              </div>   
                     
          </div>

          {# Suggestions #}
          <div id="tab-suggestions" class="tab-pane">            
            <input type="hidden" id="pay_suggestions_url" value="{{ pay_suggestions_url }}"/>
            <input type="hidden" id="pay_plugin_version" value="{{ pay_plugin_version }}"/>
            <div class="form-group">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-envelope"></i> Suggestions?</h3>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <p>
                        {{ text_suggestions}}
                    </p>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="suggestions_form_email" style="width: auto;">{{ text_email_label }}</label>
                <div id="email_error" class="text-danger col-sm-10" style="display: none">{{ text_email_error }}</div>
                <div class="col-sm-10">
                    <input id="suggestions_form_url" type="hidden" class="form-control" name="suggestions_form_url" value="{{ action }}"/>
                    <input id="suggestions_form_plugin_version" type="hidden" class="form-control" name="suggestions_plugin_version" value="{{ version }}"/>
                    <input id="suggestions_form_email" type="text" class="form-control" name="suggestions_form_email"/>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="message" style="width: auto;">{{ text_message_label }}</label>
                <div id="message_error" class="text-danger col-sm-10" style="display: none">{{ text_message_error }}</div>
                <div class="col-sm-10">
                    <textarea id="suggestions_form_message" class="form-control" name="suggestions_form_message" placeholder="{{ text_message_placeholder }}" cols="80" rows="10"></textarea>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <button form="suggestions_form" title="Submit" id="suggestions_form_submit" class="btn btn-primary">{{ text_suggestions_submit }}</button>
            </div>         
          </div> 

        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="suggestions_form_success" tabindex="-1" role="dialog" aria-labelledby="suggestions_form_success_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ text_suggestions_success_modal }}</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="suggestions_form_fail" tabindex="-1" role="dialog" aria-labelledby="suggestions_form_fail_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ text_suggestions_fail_modal }}</p>
            </div>
        </div>
    </div>
</div>

{{ footer }}
