{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="alert alert-info"><i class="fa-solid fa-circle-exclamation"></i> {{ text_description }}</div>
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-payment" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <ul class="nav nav-tabs" id="tabs">
              <li class="nav-item active"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
              <li class="nav-item"><a href="#tab-paymentmethods" data-bs-toggle="tab" class="nav-link">{{ tab_paymentmethods }}</a></li>            
              <li class="nav-item"><a href="#tab-settings" data-bs-toggle="tab" class="nav-link">{{ tab_settings }}</a></li>              
          </ul>
          <div class="tab-content">
            <div id="tab-general" class="tab-pane active">              
              
              <div class="row mb-3">
                <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="payment_paynl_status" value="0"/>
                    <input type="checkbox" name="payment_paynl_status" value="1" id="input-status" class="form-check-input"{% if payment_paynl_status %} checked{% endif %}/>
                  </div>
                </div>
              </div>   

              <div class="row mb-3">
                <label for="payment_paynl_tokencode" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_tokencode }}"></span>
                    {{ text_tokencode }}
                  </span>
                </label>
                <div class="col-sm-10">                  
                  <input type="text" class="form-control" name="payment_paynl_tokencode" value="{{ tokencode }}"/>             
                </div>
              </div> 

              <div class="row mb-3">
                <label for="payment_paynl_apitoken" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_apitoken }}"></span>
                    {{ text_apitoken }}
                  </span>
                </label>
                <div class="col-sm-10">                  
                  <input type="password" class="form-control" name="payment_paynl_apitoken" value="{{ apitoken }}"/>             
                </div>
              </div>   

              <div class="row mb-3">
                <label for="payment_paynl_serviceid" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_serviceid }}"></span>
                    {{ text_serviceid }}
                  </span>
                </label>
                <div class="col-sm-10">                  
                  <input type="text" class="form-control" name="payment_paynl_serviceid" value="{{ serviceid }}"/>            
                </div>
              </div>    

              <div class="row mb-3">
                <label for="payment_paynl_testmode" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_testmode }}"></span>
                    {{ text_testmode }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="payment_paynl_testmode" value="0"/>
                    <input type="checkbox" name="payment_paynl_testmode" value="1" id="input-status" class="form-check-input"{% if testmode %} checked{% endif %}/>
                  </div>
                </div>
              </div>  

              <div class="row mb-3">
                <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_paynl_sort_order" value="{{ payment_paynl_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
                </div>
              </div>

            </div>    

            {# Paymentmethods #}
            <div id="tab-paymentmethods" class="tab-pane">     
            <ul id="sortable_paymentmethods" class="list-group ui-sortable" style="list-style: none;"> 
              {% for id, paymentmethod in pay_paymentmethods %}  
                  <li id="payPaymentmethod_{{ id }}" class="payPaymentMethod clickable">
                    
                    <input type="hidden" value="{{ id }}" name="payment_paynl_paymentmethod_{{ id }}_id" />
                    <input type="hidden" value="{{ paymentmethod.sort|e }}" name="payment_paynl_paymentmethod_{{ id }}_sort" class="paymentMethodSort"/>
    
                    <span class="row mb-3 payPaymentMethodSummery clickable">
                      <span class="col-sm-1">
                        <i class="sortHandle fa-solid fa-reorder" style="transform: scale(1.5); padding: 12px 15px;"></i>
                      </span>
                      <span class="col-sm-1">
                        <span class="form-check form-switch form-switch-lg">
                          <input type="hidden" name="payment_paynl_paymentmethod_{{ id }}_active" value="0"/>
                          <input type="checkbox" name="payment_paynl_paymentmethod_{{ id }}_active" value="1" id="input-status" class="form-check-input"{% if paymentmethod.active|e %} checked{% endif %}/>
                        </span>
                      </span>
                      <span class="col-sm-1 clickable payImage">
                        <img src="{{ paymentmethod.image|e }}" class="payPaymentMethodImage clickable"/>
                      </span>
                      <span class="col-sm-9 clickable openPaymentDetails">
                          <h4 class="list-group-item-heading payPaymentTitle clickable">{{ paymentmethod.name|e }}</h4>
                          <p class="list-group-item-text payPaymentSubTitle clickable">{{ paymentmethod.descriptionShort|e }}</p>
                      </span>
                    </span> 

                    <span class="payPaymentMethodDetails">
                      <div class="row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_name" class="col-sm-2 col-form-label">                
                          <span class="labelText">
                            <span class="payTooltip" data-tooltip="{{ tooltip_pm_name }}"></span>
                            {{ text_pm_name }}
                          </span>
                        </label>
                        <div class="col-sm-10">                  
                          <input type="text" class="form-control" name="payment_paynl_paymentmethod_{{ id }}_name" value="{{ paymentmethod.name|e }}"/>            
                        </div>
                      </div>   
                      <div class="row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_description" class="col-sm-2 col-form-label">{{ text_pm_desc }}</label>
                        <div class="col-sm-10">                  
                          <input type="text" class="form-control" name="payment_paynl_paymentmethod_{{ id }}_description" value="{{ paymentmethod.description|e }}"/>            
                        </div>
                      </div> 
                      <div class="row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_minamount" class="col-sm-2 col-form-label">                
                          <span class="labelText">
                            <span class="payTooltip" data-tooltip="{{ tooltip_pm_min }}"></span>
                            {{ text_pm_min }}
                          </span>
                        </label>
                        <div class="col-sm-10">                  
                          <input type="text" class="form-control" name="payment_paynl_paymentmethod_{{ id }}_minamount" value="{{ paymentmethod.minamount|e }}"/>            
                        </div>
                      </div> 
                      <div class="row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_maxamount" class="col-sm-2 col-form-label">                
                          <span class="labelText">
                            <span class="payTooltip" data-tooltip="{{ tooltip_pm_max }}"></span>
                            {{ text_pm_max }}
                          </span>
                        </label>
                        <div class="col-sm-10">                  
                          <input type="text" class="form-control" name="payment_paynl_paymentmethod_{{ id }}_maxamount" value="{{ paymentmethod.maxamount|e }}"/>            
                        </div>
                      </div>   
                      <div class="form-group group-id row mb-3">
                        <label for="payment_paynl_paymentmethod_{{ id }}_countries" class="col-sm-2 col-form-label">                
                          <span class="labelText">
                            <span class="payTooltip" data-tooltip="{{ tooltip_pm_countries }}"></span>
                            {{ text_pm_countries }}
                          </span>
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="payment_paynl_paymentmethod_{{ id }}_countries[]" id="payment_paynl_paymentmethod_{{ id }}_countries" class="form-select" multiple>
                                    {% for country in countries %}
                                        <option value="{{ country['country_id'] }}" {% if country['country_id'] in paymentmethod.countries|e %} selected {% endif %}>{{ country['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>                
                      <div class="form-group group-id row mb-3">
                        <label class="col-sm-2 col-form-label" for="payment_paynl_paymentmethod_{{ id }}_geozone">{{ text_pm_geozone }}</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select name="payment_paynl_paymentmethod_{{ id }}_geozone" id="payment_paynl_paymentmethod_{{ id }}_geozone" class="form-select">
                                    <option value="0">{{ text_all_zones }}</option>
                                    {% for geo_zone in geo_zones %}
                                        <option value="{{ geo_zone['geo_zone_id'] }}"{% if geo_zone['geo_zone_id'] == paymentmethod.geozone|e %} selected {% endif %}>{{ geo_zone['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>   

                      {% if paymentmethod.showIssuersField|e %} 
                        <div class="form-group group-id row mb-3">
                          <label class="col-sm-2 col-form-label" for="payment_paynl_paymentmethod_{{ id }}_show_issuers">{{ text_pm_show_issuers }}</label>
                          <div class="col-sm-10">
                              <div class="input-group">
                                  <select name="payment_paynl_paymentmethod_{{ id }}_show_issuers" id="payment_paynl_paymentmethod_{{ id }}_show_issuers" class="form-select">
                                      <option value="0">{{ text_no }}</option>                                      
                                      <option value="1" {% if paymentmethod.showIssuers|e == '1' %} selected {% endif %}>{{ text_dropdown }}</option>
                                  </select>
                              </div>
                          </div>
                        </div>    
                      {% endif %}  

                      {% if paymentmethod.showBusinessFields|e %} 
                        <div class="form-group group-id row mb-3">
                          <label for="payment_paynl_paymentmethod_{{ id }}_show_dob" class="col-sm-2 col-form-label">                
                            <span class="labelText">
                              <span class="payTooltip" data-tooltip="{{ tooltip_pm_show_dob }}"></span>
                              {{ text_pm_show_dob }}
                            </span>
                          </label>
                          <div class="col-sm-10">
                              <div class="input-group">
                                  <select name="payment_paynl_paymentmethod_{{ id }}_show_dob" id="payment_paynl_paymentmethod_{{ id }}_show_dob" class="form-select">
                                      <option value="0">{{ text_no }}</option>                                      
                                      <option value="1" {% if paymentmethod.showBOD|e == '1' %} selected {% endif %}>{{ text_optional }}</option>
                                      <option value="2" {% if paymentmethod.showBOD|e == '2' %} selected {% endif %}>{{ text_required }}</option>
                                  </select>
                              </div>
                          </div>
                        </div> 

                        <div class="form-group group-id row mb-3">
                          <label for="payment_paynl_paymentmethod_{{ id }}_show_coc" class="col-sm-2 col-form-label">                
                            <span class="labelText">
                              <span class="payTooltip" data-tooltip="{{ tooltip_pm_show_coc }}"></span>
                              {{ text_pm_show_coc }}
                            </span>
                          </label>
                          <div class="col-sm-10">
                              <div class="input-group">
                                  <select name="payment_paynl_paymentmethod_{{ id }}_show_coc" id="payment_paynl_paymentmethod_{{ id }}_show_coc" class="form-select">
                                      <option value="0">{{ text_no }}</option>                                      
                                      <option value="1" {% if paymentmethod.showCOC|e == '1' %} selected {% endif %}>{{ text_optional }}</option>
                                      <option value="2" {% if paymentmethod.showCOC|e == '2' %} selected {% endif %}>{{ text_required }}</option>
                                  </select>
                              </div>
                          </div>
                        </div> 

                        <div class="form-group group-id row mb-3">
                          <label for="payment_paynl_paymentmethod_{{ id }}_show_vat" class="col-sm-2 col-form-label">                
                            <span class="labelText">
                              <span class="payTooltip" data-tooltip="{{ tooltip_pm_show_vat }}"></span>
                              {{ text_pm_show_vat }}
                            </span>
                          </label>
                          <div class="col-sm-10">
                              <div class="input-group">
                                  <select name="payment_paynl_paymentmethod_{{ id }}_show_vat" id="payment_paynl_paymentmethod_{{ id }}_show_vat" class="form-select">
                                      <option value="0">{{ text_no }}</option>                                      
                                      <option value="1" {% if paymentmethod.showVAT|e == '1' %} selected {% endif %}>{{ text_optional }}</option>
                                      <option value="2" {% if paymentmethod.showVAT|e == '2' %} selected {% endif %}>{{ text_required }}</option>
                                  </select>
                              </div>
                          </div>
                        </div>   
                      {% endif %} 

                    </span>                  
                  </li>                
              {% else %}
                  <li><em>{{ error_payment_methods }}</em></li>
              {% endfor %}

            </div>            

            {# Settings #}
            <div id="tab-settings" class="tab-pane">   

              <div class="row mb-3">
                <label for="payment_paynl_screen_language" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_screen_language }}"></span>
                    {{ text_screen_language }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div class="input-group">
                      <select name="payment_paynl_screen_language" id="payment_paynl_screen_language" class="form-select">
                        <option value="auto">Automatic</option>  
                        <option value="nl" {% if pay_screen_language == 'nl'  %} selected {% endif %}>{{ text_nl }}</option>
                        <option value="en" {% if pay_screen_language == 'en'  %} selected {% endif %}>{{ text_en }}</option>
                        <option value="de" {% if pay_screen_language == 'de'  %} selected {% endif %}>{{ text_de }}</option>
                        <option value="fr" {% if pay_screen_language == 'fr'  %} selected {% endif %}>{{ text_fr }}</option>                          
                      </select>
                  </div>                 
                </div>
              </div>                

              <div class="row mb-3">
                <label for="payment_paynl_logging" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_logging }}"></span>
                    {{ text_logging }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="payment_paynl_logging" value="0"/>
                    <input type="checkbox" name="payment_paynl_logging" value="1" id="input-status" class="form-check-input"{% if pay_logging != '0' %} checked{% endif %}/>
                  </div>                  
                </div>
              </div> 

              <div class="row mb-3">
                <label for="input-status" class="col-sm-2 col-form-label">{{ text_logging_download }}</label>
                <div class="col-sm-10">
                  <div class="version">                                
                      <a id="download_logs" class="btn btn-primary" href="{{ pay_logging_download }}" target="_BLANK">Download</a>
                  </div>
                </div> 
              </div>   

              <div class="row mb-3">
                <label for="payment_paynl_follow_payment" class="col-sm-2 col-form-label">                
                  <span class="labelText">
                    <span class="payTooltip" data-tooltip="{{ tooltip_follow_payment }}"></span>
                    {{ text_follow_payment }}
                  </span>
                </label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                    <input type="hidden" name="payment_paynl_follow_payment" value="0"/>
                    <input type="checkbox" name="payment_paynl_follow_payment" value="1" id="input-status" class="form-check-input"{% if pay_follow_payment == '1' %} checked{% endif %}/>
                  </div>                  
                </div>
              </div> 

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
